{% extends 'base.html.twig' %}

{% block body %}

<style>
.myButton {
	box-shadow: 0px 10px 14px -7px #3dc21b;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:4px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:17px;
	font-style:italic;
	padding:7px 13px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2f6627;
}
.myButton:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

</style>


   <h2>Liste des inventaires</h2>  

   
         <a href="/addinventaire" class="myButton">Ajouter</a>
      
   &nbsp;
   &nbsp;
   &nbsp;
   
   <table border ="2" class = "table">  
      <tr>  
         <th>ID</th>
         <th>Unite</th>  
         
         <th>Supprimer</th> 
         <th>Mettre à jour</th>    
         <th>Consulter</th>
         
      </tr>  
      {% for inv in Inventaire %} 
      <tr>  
       
         <td>{{ inv.id }}</td>
         <td>{{ inv.unite.nom}} 
         
         <td><a href="{{ path('deleteinventaire',{'id':inv.id}) }}">Supprimer</a></td> 
         <td><a href="{{ path('updateinventaire',{'id':inv.id}) }}">Mettre à jour</a></td> 
         <td><a href="{{ path('afficheinventaire',{'id':inv.id}) }}">Consulter</a></td> 
      </tr>  
      {% endfor %} 
   </table> 
{% endblock %}  

